.pokemon {
    display: flex;
    background-color: #292929;
    width: 400px;
    height: 60px;
}

.pokemon-id {
    flex-basis: 10%;
    text-align: center;
}

.pokemon-name {
    flex-basis: 75%;
}

.pokemon-img {
    flex-basis: 15%;
}
